<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h1>All Departments</h1>
<table>
    <tbody>
    <tr th:each="department : ${departments}">
        <td>[[${department.name}]]</td>
        <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/updateDepart/{id}(id=${department.id})}">Update</a></td>
        <td><a sec:authorize="isAuthenticated()" th:href="@{/showDepart/{id}(id=${department.id})}">Show</a></td>
    </tr>
    </tbody>
</table>

<div th:replace="base :: footerfg"></div>
</body>
</html>