<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h1>Index Page</h1>
<p th:if="${message}" >[[${message}]]</p>
<br/><br/>
Logged employee: <span sec:authentication="name"></span>
<br/>
Roles: <span sec:authentication="principal.authorities"></span>
<br/>
<div th:replace="base :: footerfg"></div>
</body>
</html>