<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h2>New Department</h2>
<form th:action="@{/processDepart}" method="post" th:object="${department}">
    <input type="hidden" th:field="*{id}"/>
    Department Name: <input type="text" th:field="*{name}"/>
    <input type="submit" value="Create"/>
</form>
<div th:replace="base :: footerfg"></div>
</body>
</html>